.rainbow {
  background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
